<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>作者</span>
    </div>
    <div class='inner'>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>作者其它话题</span>
    </div>
    <div class='inner'>
      <p>无</p>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>无人回复的话题</span>
    </div>
    <div class='inner'>
      <p>无</p>
    </div>
  </div>
</div>

<div id='content'>
  <div class='panel'>
    <div class='header topic_header'>
      <span class="topic_full_title">
        <%= topic.title %>
      </span>
      <div class="changes">
        <span>
          发布于 <%= topic.create_at_ago() %>
        </span>
        <span>
          作者 
        </span>
        <span>
          <%= topic.visit_count %> 次浏览
        </span>
        <% if (topic.create_at_ago() != topic.updated_at_ago()) { %>
          <span>
            最后一次编辑是 <%= topic.updated_at_ago() %>
          </span>
        <% } %>
        <% if (topic.tab) { %>
          <span> 来自 <%= topic.tabName %></span>
        <%}%>
      </div>
    </div>
    <div class='inner topic'>
      <div class='topic_content'>
        <%- markdown(topic.content) %>
      </div>
    </div>
  </div>
</div>

